 <!-- START: template provided by templates/loop.twig  -->
<section class="section section--article-loop">
    {% for post in posts %}

        <article class="article article--{{ post.type }} {{ post.class }}">
            <header class="article__header">
                {% if post.thumbnail %}
                    <!-- Thumbnail -->
                    <div class="article__thumbnail-wrapper">
                        <img src="{{post.thumbnail.src | resize(120, 120, 'bottom')}}" class="article__thumbnail" alt="Image for {{post.title}}"/>
                    </div>
                {% endif %}

                <!-- Display -->
                <h2 class="article__title">
                    <a href="{{ post.link }}">{{ post.title }}</a>
                </h2>
                <div class="article__meta">
                    <div class="article__date">
                        <span>{{ function( 'the_time', 'F j, Y')}}
                        </span>
                        <span>{{ function( 'the_time', 'g:i a')}}
                        </span>
                    </div>
                    <div class="article__author">{{ __('Published by', 'gesso') }}
                        <a href="{{ post.author.link }}">{{ post.author }}
                        </a>
                    </div>
                    <div class="article__comments">
                        {% if post.comments %}
                            <span>Comments:
                                {{ post.comments | length }}</span>
                        {% endif %}
                        <a href="{{post.link}}#respond">Leave a comment</a>
                    </div>
                </div>
            </header>
            <div class="article__admin-meta">{{ function('gesso_link_pages') }}
                <p>{{ function('edit_post_link', 'Edit', '<span class="edit-link">', '</span>', post.id) }}</p>
                <p>{{ function('comments_template', '', true) }}</p>
            </div>
        </article>

    {% else %}

        <h2>Sorry, nothing to display.</h2>

    {% endfor %}

</section>
 <!-- END: template provided by templates/loop.twig  -->
